.card {
    width: 200px; /* Largeur fixe de la carte */
    border-radius: 10px; /* Coins arrondis de la carte */
    margin: 10px; /* Marge autour de la carte */
    text-align: center; /* Centrer le contenu de la carte */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden; /* Cacher les coins arrondis de l'image */
    background-color: rgb(222, 218, 213);
    cursor: pointer;
  }
  
  .card img {
    width: 100%; /* Image remplissant toute la largeur de la carte */
    height: auto; /* Hauteur automatique pour maintenir les proportions */
    display: block; /* Rendre l'image un élément de bloc */
    border-top-left-radius: 10px; /* Coins arrondis supérieurs de l'image */
    border-top-right-radius: 10px; /* Coins arrondis supérieurs de l'image */
  }
  
  .card p {
    font-size: 16px; /* Taille de police du texte */
    font-weight: bold; /* Police en gras pour le texte */
    margin: 0; /* Supprimer la marge par défaut */
    padding: 10px; /* Ajouter un espacement intérieur */
    background-color: #FFFFFF;
  }
  .card:hover {
    animation: bounce 0.5s both; /* Lance l'animation sur survol */
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0); /* La carte reste à sa position d'origine */
    }
    50% {
      transform: translateY(-10px); /* La carte monte */
    }
    100% {
      transform: translateY(0); /* La carte revient à sa position d'origine */
    }
  }
  
  .card-container {
    display: flex;
    justify-content: center;
}
.container-content{
    display: flex;
    width: 75vw;
    flex-flow: row wrap;
    justify-content: space-between; /* Pour espacer les cartes horizontalement */

}

.card-pokemon {
  background-color: #FFFFFF;
  border-radius: 30px;
  height: 570px;
  margin-left: -258px;
  width: 800px;
}

.image-pokemon {
  margin-top: 110px;
  width: 350px;
}

.card-pokemon {
  display: flex;
}

.pokemon-information {
  height: 100%;
  width: 48.5%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.informations-principal {
  display: flex;
  justify-content: space-between;
}

.pokemon-image {
  height: 100%;
  width: 52.5%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.name-pokemon {
  font-size: 22px;
  font-weight: 700;
  margin: 10px 20px;
}

.pokemon-type {
  align-items: center;
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
  height: 40px;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  width: 80px;
  margin: 0;
  border-radius: 0 0 0 10px;
}

.height-weight {
  display: flex;
  width: 100%;
}

.height-weight p {
  border-radius: 10px;
  text-align: center;
  height: 50px;
  width: 100px;
  margin-left: 50px;
  line-height: 50px;
}

.abilities h1 {
  margin: 5px;
  text-align: start;
  font-size: 22px;
  font-weight: 700;
  margin-left: 20px;
}

.list-abilities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.list-abilities p {
  border-radius: 10px;
  text-align: center;
  height: 50px;
  width: 150px;
  margin: 10px 15px;
  line-height: 50px;
}

.stats h1 {
  margin: 5px;
  text-align: start;
  font-size: 22px;
  font-weight: 700;
  margin-left: 20px;
}

.stats .list-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.stats p {
  border-radius: 10px;
  text-align: center;
  height: 50px;
  width: 150px;
  margin: 15px 0 0 15px;
  line-height: 50px;
}