.input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Ajustez selon vos besoins */
    margin: 0 auto; /* Centrer horizontalement */
    margin-bottom: 40px; /* Ajoute une marge en bas de 20 pixels */
  }
  
  .input-wrapper input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .input-wrapper input[type="text"]:focus {
    border-color: #63686b; /* Couleur de mise au point */
    box-shadow: 0 0 5px rgba(73, 77, 82, 0.5); /* Ombre lorsqu'il est en focus */
  }
  
  .input-wrapper input[type="text"]::placeholder {
    color: #999; /* Couleur du texte de l'indicateur de champ */
  }
  
  .input-wrapper input[type="text"]::-webkit-input-placeholder {
    color: #999; /* Couleur du texte de l'indicateur de champ pour les navigateurs basés sur WebKit */
  }
  
  .input-wrapper input[type="text"]:-moz-placeholder {
    color: #999; /* Couleur du texte de l'indicateur de champ pour Firefox 18- */
  }
  
  .input-wrapper input[type="text"]::-moz-placeholder {
    color: #999; /* Couleur du texte de l'indicateur de champ pour Firefox 19+ */
  }
  
  .input-wrapper input[type="text"]:-ms-input-placeholder {
    color: #999; /* Couleur du texte de l'indicateur de champ pour IE */
  }
  