.pokemon-info{
    clear:both;
    top:-5px;
    padding-left:7.2525%;
}

pokedex-results results li a {
    background: #F2F2F2;
    float: left;
    display: block;
    position: relative;
    border-radius: 5px;
    width: 100%;
    padding-top: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.image {
    display: flex;
    justify-content: center;
}

img {
    background-color: #E9E2E2;
    border-radius: 20px;
    width: 200px;
}