nav {
    align-items: center;
    background-color: #5780E0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 20px 100px;
    text-decoration: none;
}

nav img {
    background-color: #5780E0;
    width: 150px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    font-size: 22px;
    margin-left: 40px;
}

nav ul li:hover {
    color: #00000050;
}

a {
    color: black;
    text-decoration: none;
}